* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
    
}

html, body{
    scroll-behavior: smooth;
}

header{
    position: fixed;
    width: 100vw;
    background-color: #333;
    padding: 32px;
}

header nav ul{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: white;
    padding: 8px;
    transition: 1s;
}

header nav a:hover{
    background-color:tomato;
}

.grupo{
    height: 100vh;
    background-color: tomato;
}

#Moranguinho{
    background-color: #D52958;
    background-size: contain;
    background-position: 30vw ;
    background-repeat: no-repeat;
    height: 100vh;
   
}



#title{
    
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title h1{
    font-size: 16vw;
}
#Laranjinha{
    background-color: orange;
}


#AmoraLinda{
    background-color:rgb(57, 2, 135, 0.785);
}

#GotinhadeLimão{
    background-color: gold;
}

#Ameixinha{
    background-color: darkmagenta;
}